<%- contentFor('content') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
  </ol>
</nav>

<h1><%= title %></h1>

<%if (errors) { %>
  Do something with more than 1 recipe
<% } %>

{{# if errors }}
    {{# each errors }}
          <p class="alert alert-danger">{{ this.msg }}</p>
    {{/each}}
{{/if}}

<form action="" method="POST" class="">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="Email input" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input type="text" class="form-control" id="inputUsername" name="inputUsername" aria-describedby="Username input" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="inputPassword" aria-describedby="Password input" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="isApproved" name="isApproved">
    <label class="form-check-label" for="isApproved">User is approved</label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Create new user</button>
</form>
