<%- contentFor('content') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
  </ol>
</nav>

<h1><%= title %></h1>

<form>
  <div class="form-group">
    <label for="input-email">Email address</label>
    <input type="email" class="form-control" id="input-email" name="input-email" aria-describedby="Email input" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="input-username">Username</label>
    <input type="text" class="form-control" id="input-username" name="input-username" aria-describedby="Username input" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="input-password">Password</label>
    <input type="password" class="form-control" id="input-password" name="input-password" aria-describedby="Password input" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="input-approved">
    <label class="form-check-label" for="input-approved">User is approved</label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Create new user</button>
</form>
